@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Dancing+Script:wght@400..700&display=swap');

/* menyembunyikan scrollbar ajika teks panjang tp ttp bisa di digulir */
::-webkit-scrollbar{
      display: none;
    }
    

/* Mengatur ukuran dan gaya untuk elemen <body> */
body{
      margin: 0;  /* Menghilangkan margin default */
      padding: 0; /* Menghilangkan padding default */
      box-sizing: border-box;  /* Memastikan padding dan border termasuk dalam ukuran elemen */
}

/* Mengatur ukuran dan gaya untuk elemen <header> dan <nav> */
header,nav{
      margin: 0;
      padding-bottom: 0;  /* Menghilangkan padding bawah */
      padding: 0;
      width: 100%;
      height: 75px;
      background: linear-gradient(to right, #ddb177, #d85dcc);


        /* Mengatur gaya untuk <ul> di dalam <header> dan <nav> */
      >ul {

            margin: 0;
            padding: 0;
            height: 100%;
            display: flex; /* Menggunakan Flexbox untuk tata letak anak elemen */
            list-style: none; /* Menghilangkan tanda titik pada daftar */
            justify-content: space-between; /* Membagi ruang secara merata antara anak elemen */
            align-items: center;

             /* Mengatur gaya untuk <a> di dalam <li> */
            >li a{
                  text-decoration: none; /* Menghilangkan garis bawah pada teks tautan */
                  color: azure;
                  font-size: 13px;
                  font-family: sans-serif;
                  font-weight: bold;
            }
           
      }
      
}


/* Mengatur gaya untuk elemen dengan kelas .nav-1 dan .nav-2 */
.nav-1,
.nav-2{
      padding: 1;/* Padding 1 unit */
      flex: 1; /* Flex-grow 1 untuk mengambil ruang yang tersisa */
      text-align: center;
      align-items: center;
}


/* Gaya khusus untuk elemen dengan kelas .nav-1 */
.nav-1{
      padding-top: 15px; /* Padding atas 15px */
      flex: 6;  /* Flex-grow 6 untuk mengambil lebih banyak ruang */
      text-align: left;
      margin-left: 40px; /* Margin kiri 40px */
}


/* Menambahkan gaya untuk gambar di dalam .nav-1 */
.nav-1 a{
      > img{
            margin-top: -10px; /* Margin atas negatif untuk menaikkan gambar */
            width: 60px;
      }
}

/* Efek hover pada tautan di dalam <nav> */
 header nav ul li a:hover{
      color: rgb(111, 73, 7);
      text-shadow: 5px 5px 5px rgb(212, 215, 132); /* Tambahkan bayangan teks */
      transition: 1s; /* Transisi selama 1 detik */
      border-bottom: 5px solid white; /* Tambahkan garis bawah putih */


} 


/* gaya untuk elemen main */
main{
      width: 100%;    /* Lebar penuh dari elemen induk */
     height: 80vh;     /* Tinggi 80% dari tinggi layar*/
     position: relative; /* Mengatur posisi relatif untuk elemen anak */
     display: flex;    /* Menggunakan Flexbox untuk tata letak di dalamnya */
     align-items: center;  /* Menempatkan konten di tengah secara vertikal */
     justify-content: center; /* Menempatkan konten di tengah secara horizontal */
}


/* Menambahkan efek overlay pada elemen <main> */
main::after{
     content: '';  /* Membuat elemen kosong */
     width: 100%; /* Lebar penuh dari elemen ini */
     height: 80vh;   /* Tinggi yang sama dengan elemen <main> */
     background: rgb(20, 19, 19);  /* Warna latar belakang hitam pekat */
     opacity: 0.5;  /* Transparan 50% */
     position: absolute; /* Posisi absolut di dalam <main> */
     top: 0; /* Letakkan di bagian atas */
}


/* Mengatur gaya untuk video latar belakang dengan ID #background-video */
#background-video{
     width: 100%;
     height: 80vh;
     position: absolute;
     object-fit: cover;  /* Video menutupi seluruh area dengan proporsi yang benar */
}


/* Mengatur gaya untuk teks dan tombol di dalam elemen dengan kelas .caption */
.caption{
     position: relative;  /* Posisinya relatif agar di atas video */
     z-index: 90;  /* Menempatkan elemen ini di atas yang lain */
     color: azure;
     text-align: center;
     font-family: 'playwrite cuba' sans-serif;
    

       /* Mengatur gaya untuk elemen <h1> di dalam .caption */
     > h1{
           font-family: 'Courier New', Courier, monospace;
           font-size: 3.9rem;
           letter-spacing: 3px;  /* Jarak antar huruf */
           -webkit-text-stroke: 2px rgba(208, 172, 41, 0.8);  /* Efek garis pada teks */

     }

     /* Mengatur gaya untuk tombol dengan kelas .btn di dalam .caption */
     >.btn {
           padding: 0.8rem 1.5rem; /* Ruang di dalam tombol */
           background:#EFB495;
           color: beige;
           cursor: pointer; /* Mengubah kursor saat dihover */
           border-radius: 16px;   /* Membuat sudut tombol melengkung */
           padding: 1rem; 
           font-size: 15px;
           transition: 0.3s;  /* Efek transisi selama 0.3 detik */
           font-family: 'Lucida Sans',sans-serif;
           text-decoration: none;  /* Menghilangkan garis bawah pada teks */
           
     }



}

/* Animasi untuk elemen dengan class "animate" */
.animate{
      background: #EECEB9;
}

/* Gaya untuk elemen <h2> di dalam elemen dengan class "animate" */
.animate h2{
      line-height: 80px;  /* Jarak antar baris teks */
      text-indent: 60px;  /* Jarak indentasi teks dari kiri */
      font-family: 'dancing script';
      letter-spacing: 2px;
      color: #1a1a1a;
}

 

/* Gaya untuk kontainer video */
.vid-con {
      display: flex;
      overflow: hidden;  /* Menyembunyikan konten yang melampaui batas */
      position: relative;
      width: 100%;
      height: 300px;
}

 /* Menyembunyikan konten yang melampaui batas */
.scVideo {
      display: flex;
      transition: transform 0.8s ease-in-out;
}

/* Gaya untuk setiap kartu video */
.scCardVid {
      flex:0 0 40%; /* Ukuran fleksibel, 40% dari lebar kontainer */
      box-sizing: border-box; /* Menghitung padding dan border dalam ukuran elemen */
    
}

/* Gaya untuk iframe di dalam kartu video */
.scCardVid iframe{
      width: 55%;
      height: 50%;
}

/* Gaya untuk judul dalam kartu video */
.scCardVid h3{
      
      font-size: 20px;
      font-family: 'bona nova sc';
      text-decoration: underline;
}


/* Gaya untuk tombol panah kiri dan kanan */
.arrow-left,
.arrow-right {
      position: absolute;
      top: 80%;
      transform: translateY(-50%); /* Menyeimbangkan posisi vertikal */
      background-color: rgba(28, 27, 27, 0.5);
      color: rgb(227, 221, 221);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 900;  /* Menentukan lapisan elemen */
}


/* Posisi tombol panah kiri */
.arrow-left {
      left: 30px;  /* Jarak dari sisi kiri kontainer */
}

/* Posisi tombol panah kanan */
.arrow-right {
      right: 10px; /* Jarak dari sisi kanan kontainer */
}

/* Gaya saat hover pada tombol panah */
.arrow-left:hover,
.arrow-right:hover {
      background-color: rgba(53, 50, 50, 0.7);
}

    
/* Gaya untuk daftar surah Al-Qur'an */
  #quran {
      width: 150px;
      height: 40px;
      color: rgb(214, 69, 190);
      text-align: center;
      font-family: 'Righteous';
      padding: 10px;
      overflow-y: auto; /* Menambahkan scroll vertikal jika konten melampaui batas */
      /* max-height: 400px; */
  
  }
  
  /* Gaya untuk ayat dalam bahasa Arab */
  .ayat {
      font-family: 'LPMQ';
      color: #0b0a0a;
      flex: 1 1 70%;  /* Ukuran fleksibel, 70% dari lebar kontainer */
      font-size: 30px;
      line-height: 1.6;
      direction: rtl; /* Arah teks dari kanan ke kiri */
      text-align: right; /* Penyelarasan teks ke kanan */
      margin-bottom: 10px;
  } 
   
  /* Gaya untuk terjemahan ayat dalam bahasa Indonesia */
 .ayat-indonesia {
  
      grid-column: 1 / span 2; /* Menyebar di dua kolom grid */
      font-size: 17px;
      color: #171616;
      font-family: 'Bona Nova Sc Static';
      text-align: justify;
      flex: 1 1 30%; /* Ukuran fleksibel, 30% dari lebar kontainer */
  }   
  

  /* Gaya untuk kontainer utama */
.container {
      display: flex; /* Menampilkan elemen secara fleksibel */
      flex-wrap: wrap; /* Membungkus elemen ke baris berikutnya */
      align-items: flex-start;  /* Menyelaraskan elemen ke atas */
      max-width: 2000px; /* Lebar maksimum kontainer */
      height: auto;
      margin: 40px auto; /* Jarak otomatis dari kiri dan kanan, 40px dari atas dan bawah */
      background-color:#ebebea;
      border-radius: 10px;
      padding: 0px; /* Padding di sekitar kontainer */
      margin: 0;
      margin-bottom: 30px;
      /* Tambahkan margin-bottom sesuai kebutuhan untuk menciptakan jarak antar div */
      border: none; 
      margin: 0 auto;
  
  }

  /* Gaya untuk setiap surah dalam urutan surah */
 .urutanSurah .surah {
      position: relative;
      padding-left: 60px; /* Jarak dari kiri kontainer */
      cursor: pointer;
  
  }
  
  /* Gaya untuk kontainer urutan surah */
 .urutanSurah {
      width: 2000px;
      padding: 10px;
      padding-left: 15px;
      display: grid;  /* Menampilkan elemen dalam grid */
      grid-template-columns: repeat(3, 1fr); /* Membagi kontainer menjadi tiga kolom */
  }
  
  /* Gaya untuk setiap surah dalam kontainer urutan surah */
 .urutanSurah .surah {
      border: 3px solid #FFA38F;
      border-radius: 8px;
      padding: 10px; /* Padding di sekitar teks */
      margin: 10px;  /* Jarak di sekitar setiap surah */
      height: 70px;
      font-family: "rowdies", cursive;
      text-align: center;
      z-index: 999;
  }
  
  /* Gaya untuk nama surah di dalam setiap surah */
 .urutanSurah .surah-name {
      position: absolute;
      top: 2%;
      left:65%;
      /* Atur posisi nama surah */
      transform: translate(-40%, -50%); /* Menyeimbangkan posisi elemen */
      /* Tengahkan nama surah dalam border */
      font-size: 25px;
      color: #cc24b0;
      font-family: 'LPMQ';
      z-index: 999;
  }
  
  /* Gaya untuk terjemahan nama surah */
 .urutanSurah .surah-translation {
      text-decoration: none;
      position: absolute;
      padding-left: 45px; /* Padding di sebelah kiri */
      top: 65%;
      left: 30%;
      /* Atur posisi nama surah */
      transform: translate(-30%, -50%);
      /* Tengahkan nama surah dalam border */
      font-size: 13px;
      color: #0f0e0f;
      font-family: 'Bona Nova SC Static';
      z-index: 999;
      text-align: center;
  }
  
  /* Gaya untuk nomor surah */
 .urutanSurah .surah-number {
      position: absolute;
      top: 34%;
      left: 10px;
      /* Atur posisi nomor surah */
      transform: translateY(-50%); /* Menyeimbangkan posisi vertikal */
      width: 50px;
      text-align: center;
      font-size: 12px;
      color: #0a0a0a;
      z-index: 999;
      font-family: 'Rowdies', cursive;
  
  }
  /* Gaya saat hover pada elemen surah */
 .urutanSurah .surah:hover {
  
      background-color: transparent;
      border: 3px solid rgb(159, 34, 140);
  }

  /* Gaya saat hover pada nama surah */
 .urutanSurah .surah .surah-name:hover {
      color: #2f3e28;
  }

  /* Gaya saat hover pada terjemahan nama surah */
 .urutanSurah .surah .surah-translation:hover {
      color: #3b6f8b;
  }

  /* Gaya untuk kontainer varian */
 .varian {
      text-align: center;
      flex: 1; /*Ukuran fleksibel */
      max-width: 2000px;
      padding: 10px;
      margin: 0;
      overflow-y: auto; /* Menambahkan scroll vertikal jika konten melampaui batas */
      background: #DBB5B5;
      max-height: 500px;
      line-height: 5px;
  }
  
  /* Gaya untuk tombol kembali ke daftar */
  .back-to-list-button {
      z-index: 9999;  /* Menentukan lapisan elemen agar terlihat di atas elemen lainnya */
  }

   /* untuk judul surah  */
  .title {
      width: 97%;
      padding: 20px;
      margin: 5px 0;
  }
  
  /* Gaya untuk nama surah */
  .surah-name {
      text-align: center;
      font-family: 'Dancing Script';
      font-size: 40px;
      color: #0b0c0c;
  }
  
  /* Gaya untuk terjemahan surah */
  .surah-translation {
      font-family: 'Bona Nova SC';
      text-decoration: underline;
      text-align: center;
      font-size: 30px;
      text-decoration: underline;
      color: #e6e7e7;
  }
  
  /* Gaya untuk tipe surah */
  .surah-type {
      font-family: 'rowdies', cursive;
      text-align: center;
      color: #e4e9eb;
  
  }
  
  /* Gaya untuk nomor ayat */
  .num-ayat {
      font-family: monospace;
      text-align: center;
      color: #343131;
  
  }
  
  /* Gaya untuk kontainer ayat */
  .ayah-container {
      background: #e7eaeb;
      gap: 10px; /* Jarak antar elemen di dalam kontainer */
      margin-bottom: 10px;  /* Jarak bawah kontainer */
      padding-top: 0px;
      padding: 40px;
      border: 3px solid #d743d5;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(3, 122, 159, 0.1);
      font-family: 'LPMQ';
      line-height: 20px;
  }
  
  /* Gaya untuk ayat */
  .ayat {
      padding: 0%;
      grid-column: 1 / span 2; /* Menyebar di dua kolom grid */
      font-size: 24px;
      word-spacing: 7px;
      line-height: 2;
      direction: rtl; /* Arah teks dari kanan ke kiri */
      text-align: justify;
      /* text-align: right; */
      margin-bottom: 10px;
  }
  
  /* Gaya saat hover pada ayat */
  .ayah-container .ayat:hover {
      color: rgb(17, 17, 16);
  }
  
  /* Gaya untuk nomor ayat */
  .no {
      padding: 0;
      font-family: 'Righteous';
      text-align: left;
      font-size: 22px;
      color: #CA8787;
      margin-bottom: 5px;
  }
  
  /* Gaya untuk elemen audio */
  audio {
      grid-column: 9 / span 8; /* Menempatkan elemen audio di kolom ke-9 dan melebar selama 8 kolom dalam grid */
      width: 30%;
      margin: 30px;
      color: #01020d;
  }
  
  /* FOOTER */
  /* FOOTER */
  
  /* Mengatur gaya untuk elemen <footer> */
  footer{
      width:100%;
      background: #d7c7c1;
      position: relative;
      bottom: 0;
      color: #040303;
      padding: 5px 0 5px; /* Padding atas dan bawah */
      font-size: 13px;
      line-height: 22px;  /* Jarak antar baris */
      height: auto;
      font-family: 'Bona Nova sc';
}

/* Mengatur gaya untuk elemen dengan kelas .ar */
.ar{
      width: 100%;
      margin: 5px;
      display: flex;
      flex-wrap: wrap; /* Membungkus baris */
      align-items: flex-start; /* Rata atas secara vertikal */
      justify-content: space-between; /* Ruang di antara item */
      background: #F0997D;
}

/* Mengatur gaya untuk elemen dengan kelas .cl */
.cl{
      flex-basis: 25%; /* Lebar dasar 25% */
      padding: 15px;
}


/* Mengatur gaya untuk elemen dengan kelas .logo */
.logo{
      width: 100px;
      margin-bottom: 10px;
}

/* Mengatur gaya untuk elemen <h3> di dalam .cl */
.cl h3{
      width: fit-content;  /* Lebar sesuai konten */
      margin-bottom: 40px;
      position: relative;
      font-family: 'playwrite cuba';
}

/* Mengatur gaya untuk elemen <img> di dalam .cl */
.cl img{
      width: 23px;
}

/* Mengatur efek hover untuk elemen <img> di dalam .cl */
.cl img:hover{
      width: 26px;
}

/* Mengatur gaya untuk elemen dengan id #label1 di dalam .cl */
#label1 img{
      width: 100px;

}

/* Mengatur gaya untuk elemen <a> di dalam .cl */
.cl a{
      text-decoration: none;
      color:rgb(3, 3, 3) ;
}

/* Mengatur gaya untuk elemen <li> di dalam .cl */
.cl ul li{
      text-decoration: none;
      margin-bottom: 12px;
      list-style: none;
}


/* Mengatur gaya untuk elemen dengan kelas .sosmed */
.sosmed{
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      >li{
            padding: 30px;
            font-size: 10px;
            >a{
                  padding: 15px;
                  align-items: center;
                  >p{
                        align-items: center;
                        justify-content: center;
                  }
            }
      }
}


/* Mengatur gaya untuk elemen <p> di dalam .cl */
.cl p{
      font-family: 'playwrite cuba' 'Trebuchet MS';
      text-align: left; /* Rata kiri */
      font-size: 15px;
      line-height: 50px; /* Jarak antar baris */
}


/* Mengatur gaya untuk elemen <h5> di dalam #label1 */
#label1 h5{
      text-align: justify;
      font-family: 'playwrite cuba' 'Trebuchet MS';
      font-size: 15px;
      font-weight: 200;

}

/* Mengatur gaya untuk elemen dengan kelas .ka */
.ka{
      width: 100%;
      height: 25%;
      background-color: linear-gradient( to right,#2cc73b,#c35920 );
      border-radius: 3px;  /* Sudut membulat */
      position: absolute;
      top: 25px; /* Posisikan 25px dari atas */
      left: 0;
      overflow: hidden; /* Sembunyikan overflow */
}


/* Mengatur gaya untuk elemen <span> di dalam .ka */
.ka span{
      width: 20px;
      height: 100%;
      background:linear-gradient(to right,#33ce33,#155f53);

      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 4s linear infinite; /* Animasi bergerak */

}


/* Mengatur gaya untuk elemen dengan kelas .copy */
.copy{
      text-align: center;
      padding-left: 30px; /* Padding kiri */
}



/* Mengatur gaya untuk elemen dengan kelas .copy */
hr{
      color: white;
        border-color: #ccc;
        z-index: 9999; /* Posisi di atas elemen lain */
    }
    /* Mengatur gaya untuk elemen dengan kelas .sosmed */
    .sosmed {
      /* position: absolute; */
      z-index: 10;  /* Posisi di atas elemen lain */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px;
    }
    
    /* Mengatur gaya untuk elemen <li> di dalam .sosmed */
    .sosmed li {
      list-style: none; /* Menghilangkan tanda list */
    }
    /* Mengatur gaya untuk elemen <h5> */
    h5{
      text-align: center;
      font-size: 20px;
    }

    /* Mengatur gaya untuk elemen <a> di dalam .sosmed li */
    .sosmed li a {
      text-align: center;
      display: inline-block;
      margin-right: 20px; /* Margin kanan */
      filter: invert(1); /* Inversi warna */
      transform: scale(0.5);  /* Skala lebih kecil */
      transition: 0.5s; /* Transisi animasi */
    }
    

      /* Mengatur gaya untuk elemen <img> di dalam .sosmed li a */
    .sosmed li a img{
      text-align: center;
      width: 50px;
      height: 50px;
    }
    
    /* Mengatur efek hover untuk elemen <a> di dalam .sosmed li */
    .sosmed li a:hover {
      transform: scale(1.1);
      transition: 1s;
    }


/* responsive */
        /* Mengatur gaya untuk tampilan layar kecil (antara 280px hingga 320px) */
        @media screen and (max-width:320px) and (min-width:280px) {

            /* Mengatur gaya untuk header dan nav */
          header,nav{
          width: 100%;
          height: 45px;
          >ul {
               
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
    
                >li a{
                      padding: 0px;
                      font-size: 8px;
                      
                }
               
          }
          
    }
    

  /* Mengatur gaya untuk elemen .nav-1 dan .nav-2 */
    .nav-1,
    .nav-2{
         
          text-align: center;
          align-items: center;
    }
    
    /* Mengatur gaya khusus untuk .nav-1 */
    .nav-1{
          padding-top: 15px;  /* Padding atas */
          flex: 6; /* Lebar fleksibel */
          text-align: left;
          margin-left: 40px; /* Margin kiri */
    }
    
    /* Mengatur gaya untuk gambar dalam .nav-1 */
    .nav-1 a{
          > img{
                margin-left: 0; /* Menghapus margin kiri */
                margin-top: -10px;  /* Margin atas negatif */
                width: 30px;
          }
    }

    /* Mengatur gaya untuk elemen main */
    main{
          width: 100%;
          height: 80vh; /* Tinggi relatif terhadap viewport */
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
    }
    
       /* Mengatur gaya untuk elemen caption */
    .caption{
          position: relative;
          z-index: 90; /* Posisi di atas elemen lain */
          color: azure;
          text-align: center;
          font-family: 'playwrite cuba' sans-serif;
         
    
          
          > h1{
                font-family: 'Courier New', Courier, monospace;
                font-size: 1rem;
                letter-spacing: 3px;
                -webkit-text-stroke: 2px rgba(208, 172, 41, 0.8);  /* Garis tepi teks */
    
          }
          > h3{
                font-size: 10px; 
          }
    
          >.btn{
                padding: 0.8rem 1rem; /* Padding tombol */
                background:#EFB495;
                color: beige;
                border-radius: 10px;  /* Sudut membulat tombol */
                padding: 10px 20px; 
                font-size: 8px;
                transition: 0.3s;
                font-family: 'Lucida Sans',sans-serif;
                
          }
    
    
    }

/* Gaya untuk elemen dengan kelas .animate */
.animate{
      background: #EECEB9;
}
.animate h2{
      line-height: 60px;
      text-indent: 40px;
      font-family: 'dancing script';
      letter-spacing: 2px;
      color: #1a1a1a;
}

 /* Kontainer untuk video */
.vid-con {
      display: flex;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 250px;
      
}

/* Kontainer untuk video slider */
.scVideo {
      display: flex;
      transition: transform 0.4s ease-in-out;
}


/* Gaya untuk setiap kartu video */
.scCardVid {
      flex:0 0 50%;
      box-sizing: border-box;
    
}

/* Gaya untuk iframe dalam kartu video */
.scCardVid iframe{
      width: 80%;
      height: 35%;
}

/* Gaya untuk judul video dalam kartu video */
.scCardVid h3{
      
      font-size: 15px;
      font-family: 'bona nova sc';
      text-decoration: underline;
}

/* Gaya untuk tombol navigasi kiri dan kanan */
.arrow-left,
.arrow-right {
      position: absolute;
      top: 80%;
      transform: translateY(-50%);
      background-color: rgba(28, 27, 27, 0.5);
      color: rgb(227, 221, 221);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 900;
}

.arrow-left {
      left: 30px;  /* Menempatkan tombol kiri 30px dari tepi kiri */
}

.arrow-right {
      right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
      background-color: rgba(53, 50, 50, 0.7);
}


/* Gaya untuk daftar surah */
      .urutanSurah {
            grid-template-columns: repeat(2, 1fr);
      }
      /* Gaya untuk setiap surah dalam daftar */
      .urutanSurah .surah {
           
            height: 75px;
            width: 110px;
            text-align: center;
            z-index: 999;
        }
      
        /* Gaya untuk nama surah dalam daftar */
        .urutanSurah .surah-name {
            font-size: 18px;
            z-index: 999;
        }

        /* Gaya untuk nomor surah dalam daftar */
        .urutanSurah .surah-number {
            font-size: 10px;   
      }

      /* Gaya untuk terjemahan surah dalam daftar */
      .urutanSurah .surah-translation {
           
            font-size: 10px;
            z-index: 999;
            text-align: center;
        }

        /* Gaya untuk judul surah */
        .title {
            width: 90%;
            padding: 15px;
            margin: 5px 0;
        }
        

      /* Gaya untuk nama surah */
        .surah-name {
            text-align: center;
            font-family: 'Dancing Script';
            font-size: 20px;
            color: #0b0c0c;
        }
        
        /* Gaya untuk terjemahan surah */
        .surah-translation {
            font-family: 'Bona Nova SC';
            text-decoration: underline;
            text-align: center;
            font-size: 15px;
            text-decoration: underline;
            color: #e6e7e7;
        }
        
        /* Gaya untuk jenis surah */
        .surah-type {
            font-size: 10px;
            font-family: 'rowdies', cursive;
            text-align: center;
            color: #e4e9eb;
        
        }
        
        /* Gaya untuk jumlah ayat */

        .num-ayat {
            font-size: 10px;
            font-family: monospace;
            text-align: center;
            color: #343131;
        
        }

        /* Gaya untuk kontainer ayat */
        .ayah-container {
            background: #e7eaeb;
            gap: 5px;
            margin-bottom: 10px;
            padding-top: 0px;
            padding: 15px;
            border: 3px solid #d743d5;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(3, 122, 159, 0.1);
            font-family: 'LPMQ';
            line-height: 15px;
        }
        
        /* Gaya untuk ayat */
        .ayat {
            padding: 0%;
            grid-column: 1 / span 2; /* Menetapkan ayat mencakup 2 kolom dalam grid */
            font-size: 14px;
            word-spacing: 3px; /* Menambahkan jarak antar kata */
            line-height: 2;
            direction: rtl;
            text-align: justify;
            /* text-align: right; */
            margin-bottom: 10px;
            
        }

        /* Gaya untuk ayat dalam bahasa Indonesia */
        .ayat-indonesia{
            font-size: 10px;
      }
        
      /* Gaya saat hover pada ayat */
        .ayah-container .ayat:hover {
            color: rgb(17, 17, 16);
        }
        
        /* Gaya untuk nomor */
        .no {
            padding: 0;
            font-family: 'Righteous';
            text-align: left;
            font-size: 14px;
            color: #CA8787;
            margin-bottom: 5px;
        }
        


      /* Gaya untuk elemen audio */
        audio {
            grid-column: 9 / span 8;
            width: 100%;
            height: 15px;
            margin: 3px;
            color: #01020d;
        }


/* Mengatur gaya untuk footer */
footer{
      width:100%;
      background: #d7c7c1;
      position: relative;
      bottom: 0;
      color: #040303;
      padding: 5px 0 5px;  /* Padding atas dan bawah */
      font-size: 10px;
      line-height: 10px;
      height: auto;
      font-family: 'Bona Nova sc';
      bottom: unset; /* Menghapus posisi bottom yang sudah diatur */
}

/* Gaya untuk elemen dengan kelas .ar */
.ar{
      width: 100%;
      margin: 2px;
      display: flex;
      flex-wrap: wrap;  /* Membungkus elemen ke baris berikutnya jika perlu */
      align-items: center;
      justify-content: space-between; /* Menyebar elemen secara merata */
      background: #F0997D;
}

/* Gaya untuk elemen dengan kelas .cl */
.cl{
      flex-basis:100%;
      padding: 10px;
}


/* Gaya untuk logo */
.logo{
      width: 30px;
      margin-bottom: 10px;
}


/* Gaya untuk h3 dalam .cl */
.cl h3{
      margin-bottom: 30px;
      
}


/* Gaya untuk gambar dalam .cl */
.cl img{
      width: 15px;
}
 /* Gaya untuk gambar dalam .cl saat di-hover */
.cl img:hover{
      width: 26px;
}
 

/* Gaya untuk gambar dalam #label1 */
#label1 img{
      width: 40px;

}
 
 /* Gaya untuk tautan dalam .cl */
.cl a{
      text-decoration: none;
      color:rgb(3, 3, 3) ;
}


/* Gaya untuk item dalam daftar di .cl */
.cl ul li{
      padding-left: 0;
      text-decoration: none;
      margin-bottom: 5px;
      list-style: circle; /* Menampilkan bullet dengan lingkaran */
}

/* Gaya untuk paragraf dalam .cl */
.cl p{
      font-family: 'playwrite cuba' 'Trebuchet MS';
      text-align: left;
      font-size: 10px;
      line-height: 5px;
}

/* Gaya untuk h5 dalam #label1 */
#label1 h5{
      text-align: justify;
      font-family: 'playwrite cuba' 'Trebuchet MS';
      font-size: 8px;
      font-weight: 200; /* Berat font ringan */

}

/* Gaya untuk elemen dengan id #label2 */
#label2{
      text-align: justify;
      font-family: 'playwrite cuba' 'Trebuchet MS';
      font-size: 8px;
      font-weight: 200;
      padding: 10px;

      >.bio {
           
            font-size: 10px;


      /* Gaya untuk gambar dalam .bio */
            >img{
                  width: 10px;
      
            }
      }
}


/* Gaya untuk elemen dengan kelas .ka */
.ka{
      width: 100%;
      height: 25%;
      background-color: linear-gradient( to right,#2cc73b,#c35920 );
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
      overflow: hidden; /* Menyembunyikan konten yang melampaui batas */

}

/* Gaya untuk elemen span di dalam .ka */
.ka span{
      width: 20px;
      height: 100%;
      background:linear-gradient(to right,#33ce33,#155f53);

      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 4s linear infinite;
}

/* Gaya untuk elemen dengan kelas .copy */
.copy{
      width: 100%;
      text-align: center;
      padding-left: 0px;
}




/* Gaya untuk elemen sosial media dengan kelas .sosmed */
.sosmed{
width: 90%;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
/* Gaya untuk item daftar dalam .sosmed */
>li{
      padding: 5px;
      font-size: 8px;
      /* Gaya untuk tautan dalam .sosmed */
      >a{
            padding: 5px;
            align-items: center;
            /* Gaya untuk paragraf dalam tautan sosial media */

            >p{
                  align-items: center;
                  justify-content: center;
            }
      }
}
}

}






@media screen and (max-width:370px) and (min-width:320px) {


            /* Mengatur gaya untuk header dan nav */
          header,nav{
          width: 100%;
          height: 45px;
          >ul {
               
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
    
                >li a{
                      padding: 0px;
                      font-size: 8px;
                      
                }
               
          }
          
    }
    

  /* Mengatur gaya untuk elemen .nav-1 dan .nav-2 */
    .nav-1,
    .nav-2{
         
          text-align: center;
          align-items: center;
    }
    
    /* Mengatur gaya khusus untuk .nav-1 */
    .nav-1{
          padding-top: 15px;  /* Padding atas */
          flex: 6; /* Lebar fleksibel */
          text-align: left;
          margin-left: 40px; /* Margin kiri */
    }
    
    /* Mengatur gaya untuk gambar dalam .nav-1 */
    .nav-1 a{
          > img{
                margin-left: 0; /* Menghapus margin kiri */
                margin-top: -10px;  /* Margin atas negatif */
                width: 30px;
          }
    }


    /* Mengatur gaya untuk elemen main */
    main{
          width: 100%;
          height: 80vh; /* Tinggi relatif terhadap viewport */
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
    }
    
       /* Mengatur gaya untuk elemen caption */
    .caption{
          position: relative;
          z-index: 90; /* Posisi di atas elemen lain */
          color: azure;
          text-align: center;
          font-family: 'playwrite cuba' sans-serif;
         
    
          
          > h1{
                font-family: 'Courier New', Courier, monospace;
                font-size: 1rem;
                letter-spacing: 3px;
                -webkit-text-stroke: 2px rgba(208, 172, 41, 0.8);  /* Garis tepi teks */
    
          }
          > h3{
                font-size: 10px; 
          }
    
          >.btn{
                padding: 0.8rem 1rem; /* Padding tombol */
                background:#EFB495;
                color: beige;
                border-radius: 10px;  /* Sudut membulat tombol */
                padding: 10px 20px; 
                font-size: 8px;
                transition: 0.3s;
                font-family: 'Lucida Sans',sans-serif;
                
          }
    
    
    }
/* Mengatur gaya untuk footer */
footer{
      width:100%;
      background: #d7c7c1;
      position: relative;
      bottom: 0;
      color: #040303;
      padding: 5px 0 5px;  /* Padding atas dan bawah */
      font-size: 10px;
      line-height: 10px;
      height: auto;
      font-family: 'Bona Nova sc';
      bottom: unset; /* Menghapus posisi bottom yang sudah diatur */
}

/* Gaya untuk elemen dengan kelas .ar */
.ar{
      width: 100%;
      margin: 2px;
      display: flex;
      flex-wrap: wrap;  /* Membungkus elemen ke baris berikutnya jika perlu */
      align-items: center;
      justify-content: space-between; /* Menyebar elemen secara merata */
      background: #F0997D;
}

/* Gaya untuk elemen dengan kelas .cl */
.cl{
      flex-basis:100%;
      padding: 10px;
}


/* Gaya untuk logo */
.logo{
      width: 30px;
      margin-bottom: 10px;
}


/* Gaya untuk h3 dalam .cl */
.cl h3{
      margin-bottom: 30px;
      
}


/* Gaya untuk gambar dalam .cl */
.cl img{
      width: 15px;
}
 /* Gaya untuk gambar dalam .cl saat di-hover */
.cl img:hover{
      width: 26px;
}
 

/* Gaya untuk gambar dalam #label1 */
#label1 img{
      width: 40px;

}
 
 /* Gaya untuk tautan dalam .cl */
.cl a{
      text-decoration: none;
      color:rgb(3, 3, 3) ;
}


/* Gaya untuk item dalam daftar di .cl */
.cl ul li{
      padding-left: 0;
      text-decoration: none;
      margin-bottom: 5px;
      list-style: circle; /* Menampilkan bullet dengan lingkaran */
}

/* Gaya untuk paragraf dalam .cl */
.cl p{
      font-family: 'playwrite cuba' 'Trebuchet MS';
      text-align: left;
      font-size: 10px;
      line-height: 5px;
}

/* Gaya untuk h5 dalam #label1 */
#label1 h5{
      text-align: justify;
      font-family: 'playwrite cuba' 'Trebuchet MS';
      font-size: 8px;
      font-weight: 200; /* Berat font ringan */

}

/* Gaya untuk elemen dengan id #label2 */
#label2{
      text-align: justify;
      font-family: 'playwrite cuba' 'Trebuchet MS';
      font-size: 8px;
      font-weight: 200;
      padding: 10px;

      >.bio {
           
            font-size: 10px;


      /* Gaya untuk gambar dalam .bio */
            >img{
                  width: 10px;
      
            }
      }
}


/* Gaya untuk elemen dengan kelas .ka */
.ka{
      width: 100%;
      height: 25%;
      background-color: linear-gradient( to right,#2cc73b,#c35920 );
      border-radius: 3px;
      position: absolute;
      top: 25px;
      left: 0;
      overflow: hidden; /* Menyembunyikan konten yang melampaui batas */

}

/* Gaya untuk elemen span di dalam .ka */
.ka span{
      width: 20px;
      height: 100%;
      background:linear-gradient(to right,#33ce33,#155f53);

      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 10px;
      animation: moving 4s linear infinite;
}

/* Gaya untuk elemen dengan kelas .copy */
.copy{
      width: 100%;
      text-align: center;
      padding-left: 0px;
}




/* Gaya untuk elemen sosial media dengan kelas .sosmed */
.sosmed{
width: 90%;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
/* Gaya untuk item daftar dalam .sosmed */
>li{
      padding: 5px;
      font-size: 8px;
      /* Gaya untuk tautan dalam .sosmed */
      >a{
            padding: 5px;
            align-items: center;
            /* Gaya untuk paragraf dalam tautan sosial media */

            >p{
                  align-items: center;
                  justify-content: center;
            }
      }
}
}

}

    


